:root {
  --bg-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(assets/bg-piloto.jpg);
  --color-font: #005b41;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
body {
  background-color: #121215;
  color: #c4c4cc;
  font-size: 16px;
}
.menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  background: #12121592;
  backdrop-filter: blur(6px);
  top: 0;
  position: fixed;
}
.menu nav,
a {
  display: flex;
  gap: 25px;
  text-decoration: none;
  color: #c4c4cc;
}
a:hover {
  color: var(--color-font);
  transition: all 0.3s ease-in-out;
}
span {
  color: var(--color-font);
}
button {
  padding: 12px 64px;
  font-size: 16px;
  border-radius: 50px;
  border: none;
  border: solid 1px var(--color-font);
  color: var(--color-font);
  background: transparent;
}
button:hover {
  cursor: pointer;
  background: var(--color-font);
  color: #c4c4cc;
  transition: all 0.3s ease-in-out;
}
section {
  height: 100vh;
  background: var(--bg-image) no-repeat right/ cover fixed;
}
.god {
  height: 100vh;
  display: grid;
  align-items: center;
  margin: auto 10rem;
}
h1 {
  padding: 8px 0;
  font-size: 48px;
}
.social-medias {
  display: flex;
  gap: 28px;
  padding: 18px 0;
  font-size: 28px;
}
.social-medias a {
  color: var(--color-font);
}

@media (max-width: 768px) {
  .menu nav,
  button {
    display: none;
  }
  section .god {
    margin: auto 5rem;
  }
  section .god .box button{
    display: block;
  }
}
